// page dimmer
.ui-widget-overlay {
	z-index: 1000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparentize($black_0,0.5);
	@include unselectable();
	}

// All widgets except autocomplete
.ui-widget.ui-widget-content:not(.ui-autocomplete) {
		width: 98% !important;
		height: 89% !important;
		top: 6% !important;
		left: 1% !important;
		padding: 0!important;
	}

// autocomplete widget
.ui-widget.ui-widget-content.ui-autocomplete {
	margin-top: -1px;
	margin-left: -1px;
	padding: 0.3125em 0 2.5em 0;
	border-top: 0 !important;
	@include border-radius-single(top,left,0px);
	@include border-radius-single(top,right,2px);
	@include box-shadow(0px,5px,10px,3px,0.25);

	li.ui-menu-item {
		padding-right: 1.5em;
		padding-left: 3.8em;
		padding-bottom: 3px;
		line-height: 166%;
		font-size: 0.9375em;
		background-color: $white;

		&:hover {
			background-color: $black_6;
			}
		}
	}

// Main wrapper for widgets (autocomplete and viewDataSet)
.ui-widget.ui-widget-content {
	cursor: default;
	overflow: hidden;
	position: absolute !important;
	z-index: 1100 !important;
	font-size: 16px;
	border: 1px solid $input-color-border !important;
	background-color: $white;
	@include box-shadow(0px,10px,20px,0px,0.5);
	@include border_radius($input_border_radius);

	// header
	.ui-dialog-titlebar {
		cursor: default;
		z-index: 1100;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 4.0em;
		padding: 1.0em;
		color: $black_0;
		font-size: 1.125em;
		font-weight: 600;
		line-height: 200%;
		border-left: 0;
		border-right: 0;
		border-top: 0;
		background-color: $white;
		@include border-radius(0);

		.ui-dialog-titlebar-close {
			position: absolute;
			top: 50%;
			right: 1.0em;
			width: 2.0em;
			height: 2.0em;
			margin: -1.0em 0 0 0;
			font-size: 16px;
			background: none;
			border: 0;

			// hide existing close button
			span {
				display: none;
				}

			&:hover {
				background: none;

				&:after,
				&:before {
					background-color: $black_1;
					}
				}

			&:active {
				&:after,
				&:before {
					background-color: $black_0;
					}
				}

			&:after,
			&:before {
				content: "";
				display: block;
				position: absolute;
					top: 50%;
					right: 50%;
				width: 1em;
				height: 0.1875em;
				margin-top: -0.09375em;
				margin-right: -0.5em;
				background-color: $black_2;
				}
			&:after {
				@include transform-rotate(-45deg);
				}// :after
			&:before {
				@include transform-rotate(45deg);
				}// :before
			}
		}

	// content
	.ui-dialog-content {
		overflow-y: scroll;
		overflow-x: hidden;
		position: absolute;
    top: 0;
    left: 0;
		width: 100% !important;
		height: -moz-calc(100% - (4.5em + 6.0em)) !important;
		height: -webkit-calc(100% - (4.5em + 6.0em)) !important;
		height: -o-calc(100% - (4.5em + 6.0em)) !important;
		height: calc(100% - (4.5em + 6.0em)) !important;
		margin-top: 4.5em;
		padding: 0;
		@include box-sizing(border-box);

		.table-wrapper {
			height: 100%;
			}

		.dataset-table {
			height: inherit;

			.table-head-wrapper {
				z-index: 1200;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 4.5em;
				padding: 0 1.0em;
				border-bottom: 1px solid $input_color_border;
				background-color: $white;
				@include box-shadow(0px,2px,8px,0px,0.06);

				table.table-head {
					table-layout: fixed;
					width: 100%;
					height: 100%;
					border-top: 1px solid $input_color_border;

					th {
						padding-top: 1.0em;

						span {
							color: $black_0;
							font-size: 0.75em;
							font-weight: 600;
							text-transform: uppercase;
							}
						}
					}
				}

			.table-body-wrapper {
				overflow-x: hidden;
				overflow-y: scroll;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: -moz-calc(100% - 4.5em) !important;
				height: -webkit-calc(100% - 4.5em) !important;
				height: -o-calc(100% - 4.5em) !important;
				height: calc(100% - 4.5em) !important;
				margin-top: 4.5em;
				padding: 1.0em;
				background-color: $black_6;

				table.table-body {
					table-layout: fixed;
					}
				}

			tr {
				border-bottom: 1px solid tint($input_color_border,25%);

				&:last-of-type {
					border: 0;
					}
				}

			td,
			th {
				padding: 0 0.5em;
				word-break: break-word;

				// primary text wrapper for all table cells
				span {
					vertical-align: text-top;
					display: inline-block;
					line-height: 120%;
					font-size: 0.875em;
					text-transform: capitalize;
					word-wrap: break-word;
					word-break: break-word;

					b {
						margin-top: 3px;
						display: inline-block;
						color: $black_2;
						font-weight: 600;
						font-size: 0.9166667em;
						text-transform: uppercase;
						}
					}

				&.address {
					width: 16%;
					}
				&.category-sfpd {
					width: 13%;
					}
				&.category-cs {
					width: 13%;
					}
				&.date {
					width: 10%;
					}
				&.description {
					width: 10%;
					}
				&.incident-number {
					width: 10%;
					}
				&.district-sfpd {
					width: 10%;
					}
				&.resolution {
					width: 12%;
					}
				&.time {
					width: 6%;
					}
				}

			td {
				padding-top: 0.75em;
				padding-bottom: 1.0em;

				span {
					font-size: 0.8125em;
					}
				}
			}
		}

		// footer
		.ui-dialog-buttonpane {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 6.0em;
			margin: 0;
			padding: 0;
			border-top: 1px solid $input_color_border;
			@include box-shadow(0px,-2px,8px,0px,0.08);

			.ui-dialog-buttonset {
				position: absolute;
				top: 50%;
				right: 1.5em;
				margin-top: -1.625em;
				}

			button {
				margin: 0;
				}
			}
	}
